.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 100px;
  }
  
  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 20px;
    row-gap: 20px;
    border-radius: 20px;
  
    & input{
      border-radius: 20px;
      border: none;
      padding: 10px;
      outline: none;
    }
  
    & button{
      border-radius: 20px;
      padding: 5px;
      border: none;
      cursor: pointer;
      font-weight: bold;
    }
  
    & button:hover{
      opacity: 0.8;
    }
  }
  .cards{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
  .card{
    background-color: rgba(0, 0, 0, 0.349);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    max-width: 65%;
    width: 500px;
    border-radius: 20px;
  
    &button{
      background: transparent;
    }
  }
  
  