.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-top: 100px;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.349);
  padding: 20px;
  row-gap: 20px;
  border-radius: 20px;

  & input {
    border-radius: 20px;
    border: none;
    padding: 10px;
    outline: none;
  }

  & button {
    border-radius: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  & button:hover {
    opacity: 0.8;
  }
}

.epiCard {
  background-color: rgba(0, 0, 0, 0.349);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 65%;
  width: 500px;
  border-radius: 20px;
  cursor: default;
}

.epiCards {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

#trash {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.homeButton {
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 150px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.homeButton:hover {
  opacity: 0.8;
}